*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url(wall1.jpg) ;
    background-size: cover;
    
}
 #he {
    left: 0%;
     font-size:xx-large;
     font-style:normal;
 color:rgb(236, 125, 33) ;
 font-weight: 800;
} 
.calculator{
    position: relative;
    display: grid;
}
.calculator  .value {
grid-column: span 4;
height: 100px;
border: none;
outline: none;
padding: 15px;
font-size: 10px;
}
.calculator span{
    display: grid;
width: 60px;
height: 60px;
color: black;
background: rgb(182, 210, 241);
place-items: centre;
text-align: center;
border: 1px solid rgba(0,0,0,.1);
}

.calculator span:active
{
    background: #ee9a3a;
    color: #111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 120px;
}

.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}   
.calculator span.equal{
    background: #03b1ff;
}
.footer {
    position: fixed;
    background-color:black;
    bottom: 0;
    color: white;
    left: 0;
    height: 20%;
    width: 100%;
    text-align: center;
    line-height: 30px;
}
